body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.solar-system {
  position: relative;
  width: 300px;
  /* Укажите ширину подходящую для вашей системы */
  height: 300px;
}

.sun {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet {
  width: 30px;
  /* Размер маленьких планет */
  height: 30px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  animation: orbit 4s linear infinite;
  /* Вы можете изменить параметры анимации */
}

/* Анимация орбиты для планет */
@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px);
  }
}